@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .header {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0 0;
  }

  .header__bl {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    padding: 14px 10px;

    @media (max-width:480px) {
      max-width: 95%;
    }
  }

  .header__nav {
    display: none;
    background: #66513c;
    width: 100%;
  }

}