nav.nav.header__nav
    ul.nav__list
        li.nav__item
            a.nav__link(href='#') About
        li.nav__item
            a.nav__link(href='#') Services
                i.down-diricon-
            ul.drop-down
                +drop-down('Drop1', '#')
                +drop-down('Drop2', '#')
                +drop-down('Drop3', '#')
        li.nav__item
            a.nav__link(href='#') Work
                i.down-diricon-
            ul.drop-down
                +drop-down('Drop1', '#')
                +drop-down('Drop2', '#')
                +drop-down('Drop3', '#')
        li.nav__item
            a.nav__link(href='#') News
                i.down-diricon-
            ul.drop-down
                +drop-down('Drop1', '#')
                +drop-down('Drop2', '#')
                +drop-down('Drop3', '#')
                +drop-down('Drop4', '#')
                +drop-down('Drop5', '#')
        li.nav__item
            a.nav__link(href='contact.html') Contact